@model ProjectConsultants.UI.ViewModel.RegistrationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>Registration</title>
</head>
<body>
    <div class="header">
        <img class="img_register" src="C:\Users\13084\Desktop\arcom-one.png" />
    </div>
    <hr class="hr_css" />
    <div>
        <h3 class="heading"> Register</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    
        <div>
            <div class="textField">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-field-css mainreg ", placeholder = "First Name*" } })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="textField">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-field-css", placeholder = "Last Name*" } })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="textField">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-field-css", placeholder = "Email*" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="textField">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-field-css", placeholder = "Password*" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="textField">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-field-css", placeholder = "Confirm Password*" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div class="textField">
                <input class="signup" type="submit" value="sign up" />
            </div>
        </div>
    }
</body>

</html>

