@model ProjectConsultants.UI.ViewModel.ChangePasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
    <title>ChangePassword</title>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <img src="C:\Users\13090\Desktop\arcom-one-small.png" alt="Logout" style="width:200px;height:40px;">
                </div>
            </div>
        </div>
        <div class="headerColor2">
            <div id="headerText2">ChangePassword</div>
        </div>
        <div>
            <div style="padding:100px 1px 50px 450px;">
                <div class="col-sm-5">

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E mail" }, id = "E mail" })
                </div>
            </div>
            <div style="padding:10px 1px 50px 450px">
                <div class="col-sm-5">

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Current Password" }, id = "Password" })
                @Html.ValidationMessageFor(model => model.Password, null , new { @class = "field-validation-error" })
                </div>
            </div>
            <div style="padding:10px 1px 50px 450px;">
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" }, id = "NewPassword" })
                    @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div style="padding:10px 1px 50px 570px"><input type="submit" value="Change Password" id="button" /></div>
    }
    <div id="temprory"></div>
</body>
</html>

