@using System.Web.Optimization
@using ProjectConsultants.UI.ViewModel;

<!DOCTYPE html>

@{
    var loggedInUser = Session["UserProfile"] as UserViewModel ?? new UserViewModel();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Project Setup</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/UserDefinedCss")
    @Scripts.Render("~/bundles/CustomScripts")
</head>
<body>
    <div class="headerColor">
        <div>
            <span id="headerText">
                MAQ Proj 2 May (******* Don't touch it *******).
            </span>
            <div id="menu-icon">
                <img src="~/Content/Images/menu-icon.PNG" class="menuDropdown" />
                <!-- -->

                <ul class="dropdown-menu hidden">
                    <li class="menuHeadingPadding">
                        <a>Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li class="menuHeadingPadding">
                        <a>Projects</a><a class="arrowPadding" id="headerProject">></a>
                    </li>
                    <li class="dropdown-subitem projectSubItem" name="Projects" >New Project</li>
                    <li class="dropdown-subitem projectSubItem ">Active projects</li>
                    <li class="divider"></li>
                    <li class="menuHeadingPadding">
                        <a>Tools</a><a class="arrowPadding" id="headerTools">></a>
                    </li>
                    <li class="dropdown-subitem toolsSubItem">Product Library</li>
                    <li class="dropdown-subitem toolsSubItem">MPI</li>
                    <li class="divider"></li>
                    <li class="menuHeadingPadding">
                        <a>Settings</a><a class="arrowPadding" id="headerSettings">></a>
                    </li>
                    <li class="dropdown-subitem settingsSubItem">Task Notifications<br />Frequency</li>
                    <li class="dropdown-subitem settingsSubItem">Manage Profile</li>
                    <li class="dropdown-subitem settingsSubItem">Manage Services</li>
                    <li class="divider"></li>
                    @*<li class="menuHeadingPadding">
                            @Html.ActionLink("Change Password", "ChangePassword", "User")
                        </li>*@
                    <li class="menuHeadingPadding">
                        @Html.ActionLink("Log Out", "SignOut", "Login")
                    </li>
                </ul>
                <!-- -->
            </div>
        </div>

    </div>
    <div>
        <ul class="navigation">
            <li class="navlist"><a href="#">@Html.ActionLink("Summary", "Temp", "Project")</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Setup", "Index", "Project", null, new { @class = "active" })</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Assembly", "Index", "Project", null, new { @class = "submitForm" })</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Work Area", "Temp", "Project")</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Output", "Temp", "Project")</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("SB3", "SB3", "SB3")</a></li>
        </ul>
    </div>
    <div id="headerBlock">
        <div id="welcomeText">
            @if (loggedInUser != null)
            {
                <text>
                    Welcome @loggedInUser.FirstName
                </text>
            }
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
