<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Project Consultants</title>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
    <link href="~/Content/CSS/site.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScripts/Custom.js"></script>
</head>
<body>
    <div class="headerColor">
        <div id="headerText">MAQ Proj 2 May (******* Don't touch it *******).</div>
    </div>
    <div>
        <ul class="navigation">
            <li class="navlist"><a href="#">@Html.ActionLink("Summary", "Temp", "Project")</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Setup", "Index", "Project",null,new { @class = "active"})</a></li>
            @*<li class="navlist"><a href="#">@Html.ActionLink("Assembly", "Index", "Project", null, new { onclick = "$('form').submit();" })</a></li>*@
            <li class="navlist"><a href="#">@Html.ActionLink("Assembly", "Index", "Project", null, new {@class="submitForm" })</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Work Area", "Temp", "Project")</a></li>
            <li class="navlist"><a href="#">@Html.ActionLink("Output", "Temp", "Project")</a></li>
        </ul>
    </div>
    <div id="headerBlock">
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>


